{# src/OC/PlatformBundle/Resources/views/layout.html.twig #}

{% extends "OCCoreBundle::layout.html.twig" %}

{% block title %}
  Annonces - {{ parent() }}
{% endblock %}
{% block searchbox %}

    {{ parent() }}

{% endblock %}
{% block body %}
{% block content%}
{% endblock %}
  {# On définit un sous-titre commun à toutes les pages du bundle, par exemple #}

  {% block advert_vrac %}
      {{ parent() }}
  {% endblock %}

  
  {% block head_oc_platform %}
      <h1>Annonces</h1>
  {% endblock %}
  {% block annonces %} {{ parent() }}
  	{# 	<h3>Les annonces</h3>
        <ul class="nav nav-pills nav-stacked">
          <li><a href="{{ path('oc_platform_home') }}">Accueil</a></li>
          <li><a href="{{ path('oc_platform_add') }}">Ajouter une annonce</a></li>
        </ul>#}
  
  {% endblock %}
  <hr>

  {# On définit un nouveau bloc, que les vues du bundle pourront remplir #}
  {% block ocplatform_body %}
  
  {% endblock %}

{% endblock %}